{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
  <br>
  <table id="project-table" class="table table-striped">
    <thead>
      <tr>
        <th>Project Title</th>
        <th>Date Created</th>
        <th>Description</th>
        <th>Project Type</th>
        <th>Total Word Goal</th>
        <th>Total Word Count</th>
        <th>Weekly Word Goal</th>
        <th>Weekly Word Count</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
        <tr>
          <td><a href="{{ url_for('project', project_id=project.project_id) }}">{{project.project_title}}</a></td>
          <td>{{project.date_created}}</td>
          <td>{{project.project_description | truncate(60) }}</td>
          <td>{{project.project_type}}</td>
          <td>{{project.total_words_goal}}</td>
          <td><a href="{{ url_for('edit_project', project_id=project.project_id) }}" title="Click here to update your total word count!">{{project.total_words_current}}</a></td>
          <td>{{project.weekly_words_goal}}</td>
          <td><a href="{{ url_for('edit_project', project_id=project.project_id) }}" title="Click here to update your weekly word count!">{{project.weekly_words_current}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% if prev_url %}
<a href="{{ prev_url }}">Newer Projects</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older Projects</a>
{% endif %}
<br>
<br>
<a href="{{ url_for('new_project') }}" class="btn btn-dark">New project</a>
</div>
{% endif %}
{% endblock content %}
